/* src/components/pedidos.css */
.pedidos-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  .pedidos-items {
    list-style-type: none;
    padding: 0;
  }
  
  .item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .footer {
    margin-top: 20px;
  }
  